<!-- <img src="https://cdn.vox-cdn.com/thumbor/SWur97jQEVd3DBRzeSaYu8IQwPk=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19563115/Earns_Peloton.jpg" width="100%" height="700" > -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="carousel-content animated fadeInUp">
            <h2>All progress takes place outside the comfort zone!<h2>
            <p></p>
            <% if current_user %>
            <div class="text-center"><a href="/rides" class="btn-get-started">Leaderboard</a></div>
            <% else %>
            <div class="text-center"><a href="users/sign_up" class="btn-get-started">Create Account</a></div>
            <div class="text-center"><a href="users/sign_in" class="btn-get-started">Login</a></div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</section>
