<div class="form-ride">

<br><legend><center><h2><b>Editing Ride</b></h2></center></legend><br>

<%= render 'form', ride: @ride %>

<%= link_to 'Show', @ride %> |
<%= link_to 'Back', rides_path %>

</div>
