<div class="form-ride">

<br><legend><center><h2><b>New Ride Form</b></h2></center></legend><br>
<%= render 'form', ride: @ride %>

<%= link_to 'Back', rides_path, class: "btn btn-secondary"%>


</div>

</div>
